.image-list {
    list-style-type: none; /* リストのマーカーを削除 */
    text-align: center; /* リスト内の要素を中央寄せにする */
}

.image-list li {
    display: inline-block; /* 要素を横並びにする */
    margin: 0 10px; /* 画像間の間隔を調整 */
}

.image-list img {
    max-width: 100px; /* 画像の最大幅を指定 */
    height: auto; /* アスペクト比を維持 */
}