body {
    background-color: #f5fffa;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    border-bottom: 3px solid #ccc; /* 下部に1pxの線を追加 */
    margin-bottom: 0; /* 下部のマージンを追加 */
    z-index: 100;
    background-color: #E8E8E8	;
    position: fixed; /* ヘッダーをページの上部に固定する */
    top: 0; /* 上部に配置する */
    width: 100%; /* 幅をページの幅いっぱいに広げる */
    z-index: 1000; /* 他の要素よりも手前に表示 */
    }
    
h1 {
    text-align: center;
    margin-top: 70px; /* header からのマージンを追加 */
    margin-bottom: 20px;
    font-size: 2em;
    background-color: #90ee90;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.image-list-item {
    flex: 1 1 calc(20% - 20px);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-list-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 150px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px); /* モーダルの高さをヘッダーの下に合わせる */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 60%;  /* 画像の幅を80%から60%に変更 */
    max-width: 500px;  /* 最大幅を700pxから500pxに変更 */
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;  /* 最大幅を700pxから500pxに変更 */
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
