body {
    background: linear-gradient(to bottom, #fff5ee, #fff); /* グラデーションの開始色と終了色を指定 */
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    background-color: #ffb6c1; /* h1の背景色を別の色に変更 (薄いピンク色) */
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; /* 画像間のスペースを設定 */
}

.image-list-item {
    flex: 1 1 calc(20% - 20px); /* 5列にするための幅を設定 */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-list-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 150px; /* 画像を小さくする */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 60%;  /* 画像の幅を80%から60%に変更 */
    max-width: 500px;  /* 最大幅を700pxから500pxに変更 */
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;  /* 最大幅を700pxから500pxに変更 */
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
