/* image.css */

body {
    font-family: 'Times New Roman', serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('../images/服1.png'); /* 背景画像を設定 */
    background-size: cover; /* 画像を全体に広げる */
    background-repeat: no-repeat; /* 画像の繰り返しを止める */
    background-position: center center; /* 画像を中央に配置 */
    height: 100vh; /* ビューポートの高さを100%に設定 */
    width: 100vw; /* ビューポートの幅を100%に設定 */
    overflow: hidden; /* ページのスクロールを無効にする */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f0e68c;
    color:white;
}

form {
	
    width: 75%; /* フォームの幅を画面の幅の75%に設定 */
    max-width: 500px; /* フォームの最大幅を500pxに設定 */
    margin: 0 auto; /* 左右の余白を自動で設定して中央に寄せる */
    padding: 30px; /* パディングを30pxに変更 */
    background-color: rgba(255, 255, 255, 0.8); /* 背景を半透明にする */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
