.image-list {
    list-style-type: none; /* リストのマーカーを削除 */
    text-align: center; /* リスト内の要素を中央寄せにする */
}

.image-list li {
    display: inline-block; /* 要素を横並びにする */
    margin: 70px 50px 70px 50px; /* 画像間の間隔を調整 */
}

.image-list img {
    width: 250px; 
    height: auto; /* アスペクト比を維持 */
}

ul {
  column-count: 3;        /* 列数を3列に指定 */
  border-style: groove;
  background-color: antiquewhite;
}

h1{
	text-align: center;
	font-size: 40px;
	background-color: aliceblue;
	font-family: "游ゴシック";
}