<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/all.css}">
</head>
<header>
	<div id="headerInner"></div>
	<div id="logo"><a href="http://localhost:8080"><img th:src="@{static/rogo.png}" width="150px" ></a></div>
</header>

<body>
    <h1>先輩社員のコーディネート一覧</h1>

    <ul class="image-list">
        <!--画像リストアイテム-->
        <li class="image-list-item"><img th:src="@{static/images/人事1.jpg}" alt="Image 1"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事2.jpg}" alt="Image 2"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事3.jpg}" alt="Image 3"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事4.jpg}" alt="Image 4"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事5.jpg}" alt="Image 5"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事6.jpg}" alt="Image 6"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事7.jpg}" alt="Image 7"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事8.jpg}" alt="Image 8"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事9.jpg}" alt="Image 9"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター1.jpg}" alt="Image 10"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター2.jpg}" alt="Image 11"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター3.jpg}" alt="Image 12"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター4.jpg}" alt="Image 13"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター5.jpg}" alt="Image 14"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター6.jpg}" alt="Image 15"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター7.jpg}" alt="Image 16"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター8.jpg}" alt="Image 17"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター9.jpg}" alt="Image 18"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期1.jpg}" alt="Image 19"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期2.jpg}" alt="Image 20"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期3.jpg}" alt="Image 21"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期4.jpg}" alt="Image 22"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期5.jpg}" alt="Image 23"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期6.jpg}" alt="Image 24"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期7.jpg}" alt="Image 25"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期8.jpg}" alt="Image 26"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期9.jpg}" alt="Image 27"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期10.jpg}" alt="Image 28"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期11.jpg}" alt="Image 29"></li>
        <li class="image-list-item"><img th:src="@{static/images/同期12.jpg}" alt="Image 30"></li>
        <!--他の画像を追加する場合は同様に追加-->
    </ul>
	
    <!-- モーダル -->
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img">
        <div id="caption"></div>
    </div>
	
    <script th:src="@{static/js/modal.js}"></script>
</body>
</html>
