<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	
	</head>
	<body>
		<h1>先輩社員のコーディネート</h1>
		<ul class="image-list">
		   <!-- 画像リストアイテム -->
		   <li class="image-list-item"><img src="sushi1.jpg" alt="Image 1"></li>
		   <li class="image-list-item"><img src="sushi2.jpg" alt="Image 2"></li>
		   <li class="image-list-item"><img src="sushi3.jpg" alt="Image 3"></li>
		   <!-- 他の画像を追加する場合は同様に追加 -->
		</ul>
	</body>
	</html>
		
		
		
		

	<!--<section>
	  <h1>先輩社員のコーディネート</h1>
	  <ul id="code_list">
	    <li id="code1">
	      <div class="photo">
	        <p class="title">コーデ1</p>
	        <img th:src="@{sushi1.jpg}" alt="1">
	      </div>
	      <p class="text">キーワード</p>
	    </li>
	    <li id="code2">
	      <div class="photo">
	        <p class="title">コーデ2</p>
	        <img th:src="@{sushi2.jpg}" alt="">
	      </div>
	      <p class="text">キーワード</p>
	    </li>
	    <li id="code3">
	      <div class="photo">
	        <p class="title">コーデ3</p>
	        <img th:src="@{sushi3.jpg}" alt="">
	      </div>
	      <p class="text">キーワード</p>
	    </li>
	  </ul>
	</section>
	</body>
	</html>-->



