<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <h1>女性社員のコーディネート一覧</h1>

    <ul class="image-list">
        <!--画像リストアイテム--> 
    <li class="image-list-item"><img th:src="@{static/images/人事1.jpg}" alt="Image 1"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事2.jpg}" alt="Image 2"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事3.jpg}" alt="Image 3"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事4.jpg}" alt="Image 4"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事5.jpg}" alt="Image 5"></li>
        <li class="image-list-item"><img th:src="@{static/images/人事6.jpg}" alt="Image 6"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター1.jpg}" alt="Image 7"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター2.jpg}" alt="Image 8"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター3.jpg}" alt="Image 9"></li>
        <li class="image-list-item"><img th:src="@{static/images/メンター4.jpg}" alt="Image 10"></li>
		<li class="image-list-item"><img th:src="@{static/images/メンター5.jpg}" alt="Image 11"></li>
		<li class="image-list-item"><img th:src="@{static/images/メンター6.jpg}" alt="Image 12"></li>
		<li class="image-list-item"><img th:src="@{static/images/メンター7.jpg}" alt="Image 13"></li>
         <!--他の画像を追加する場合は同様に追加--> 
    </ul>
</body>
</html>
