<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>オフィスカジュアル</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{static/css/index.css}">　<!--cssに反映させるコード-->
</head>
<body>
	
	<header>
		<div id="headerInner"></div>
		<div id="logo"><img th:src="@{static/rogo.png}" width="150px" ></div>
		

	</header>
	
	<main>
		<h1 id="mainPhoto"><img th:src="@{static/main画像.jpg}"></h1>
		
		<h2 th:text="${message}"></h2>
		
		<ul class="main-url">
			<li class="main-url-item"><a href="../templates/random.html" th:href="@{/random}"><img src="static/コーデ生成.jpg" alt="Image 11"></a></li>
			<li class="main-url-item"><a href="../templates/body.html" th:href="@{/body}"><img src="static/先輩社員のコーデ.png"alt="Image 12"></a></li>
			<li class="main-url-item"><a href="../templates/image.html" th:href="@{/image}"><img src="static/コーデ追加.png" alt="Image 13"></a></li>
		</ul>
	</main>	
			
<!--    <h1>オフィスカジュアル</h1>
	<h2 th:text="${message}"></h2>
	<a href=>コーデ生成へ</a>
	<h2 th:text="${message}"></h2>
    <a href="../templates/body.html" th:href="@{/body}">先輩社員のコーデ</a>-->
	
</body>
</html>














