<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{static/css/random.css}">　<!--cssに反映させるコード-->
    <title>Random Image Viewer</title>
</head>
<body>
	<h1>今日のコーデ</h1>
    <div class="container"> <!-- ページ全体を囲むコンテナ -->

        <button onclick="showRandomImage()">コーデ生成スタート</button>
        <div id="randomImageContainer"></div>
    </div>
    <script>
        function showRandomImage() {
            fetch("/random-image")
                .then(response => response.text())
                .then(imageName => {
                    const imageUrl = `/static/image/${imageName}`;
                    document.getElementById("randomImageContainer").innerHTML = `
                        <img src="${imageUrl}" alt="Random Image" style="max-width: 100%;">
                    `;
                })
                .catch(error => console.error('Error fetching random image:', error));
        }
    </script>
</body>
</html>
